body {
    background: linear-gradient(to bottom right, #0E1121, #2E3649);
    color: #181717;
}

.stApp {
    background: transparent;
}

.app-block {
    background-color: rgba(25, 30, 30, 0.7);
    border: 1px solid #333333;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
}

h1, h2, h3 {
    color: #FAFAFA;
}

.stButton>button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}